.logcontainer .logcontents{
   position:relative;
   overflow:hidden;
   width:100%;
   height:100%;
}
.logcontainer .logcontents .logtext{
    position:absolute;
    bottom:20px;
    line-height:1.6em;
}
.tile-content.iconic .icon.checkmark-completed {
    width: 25px;
    height: 25px;
    font-size: 25px;
    top: 100%;
    margin-top: -25px;
    left: 50%;
    margin-left: 12px;

}
.app-container {
    display: inline-block;
}
.unselectable {
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
    
 }
 .cursorhide {
     cursor:none !important;   
 }
[data-drag-handle] {
    cursor: default;
 }   
@media (min-width: 768px) {
    .modal-dialog.dragging {
        width: 600px;
        margin: 0px 0px 0px 0px;
    }
}
