<div class="control-list">
    <table class="table data" data-control="rowlink">
        <thead>

            <tr>
            	<?php foreach($columsToList as $column => $properties):?>
        	    	<?php if(!property_exists($properties, 'visible')  || 
                		          (property_exists($properties, 'visible') && 
                		                  ($properties->visible === true   || 
        		                           $properties->visible === "true"  || 
                		                   $properties->visible === "yes") )):?>
                        <th class="<?= ($orderColumn == $column ? 'active' : '')?> sort-<?= ($orderColumn == $column ? $sortDirection : 'desc')?> '">
                        	<a data-apprequest="onSort"
                        		data-apprequest-data="listName:'<?=$listName?>',column:'<?= $column ?>'"
                    			href="javascript:void(0)">
        
                    				<?= $properties->label ?>
            				</a>
        				</th>
    				<?php endif; ?>
				<?php endforeach; ?>
            </tr>
        </thead>
        <tbody>
            
            <?php if($list && $list->count()):?>
            	<?php foreach($list as $item):?>
            	
                <tr <?php if(!empty($onclick)):?>onclick="<?=str_replace(':id',$item->getKey(),$onclick)?>"<?php endif;?>
                	data-row-key="<?=$item->getKey()?>"
                    <?php if(!empty($apprequest)):?>data-apprequest="<?= str_replace(':id',$item->getKey(),$apprequest)?>"<?php endif;?>
                    <?php if(!empty($apprequestdata)):?>data-apprequest-data="<?= str_replace(':id',$item->getKey(),$apprequestdata)?>"<?php endif;?>
                    <?php if(!empty($attributes)):?><?= str_replace(':id',$item->getKey(),$attributes); ?><?php endif;?>
                    <?php if(!empty($apppopup)):?>data-popup-handler="<?= str_replace(':id',$item->getKey(),$apppopup); ?>" data-app-popup<?php endif;?> 
                	<?php if(!empty($destinationLink)):?>data-open-window-url="<?= Backend::url(str_replace(':id',$item->getKey(),$destinationLink))?>" style="cursor:pointer;"<?php endif;?>>
    
                	<?php foreach($columsToList as $column => $label):?>
                    	<td>
                    		<?php if(!property_exists($label, 'visible')  || 
                    		          (property_exists($label, 'visible') && 
                    		                  ($label->visible === true   || 
            		                           $label->visible === "true"  || 
                    		                   $label->visible === "yes") )):?>
                    		                   
                        		<?php if(property_exists($label, 'type')) :?>
                        			<?php if($label->type == "partial"):?>
                        				<?= $this->render('_'.$column.'.htm',
                        						[
                        							'model' => $item,
                        							'value' => utf8_encode($item->getAttribute($column)),
                        				])?>
                                    <?php elseif($label->type == 'switch'):?>
                                        <?= $item->getAttribute($column) ? 'Yes':'No'?>
                                    
                                        
                        			<?php else:?>
                        			
                        				<?= utf8_encode($item->getAttribute($column)); ?>	
                        			<?php endif;?>
                        		<?php else:?>
                        			<?= utf8_encode($item->getAttribute($column)); ?>
                        		<?php endif;?>
                    		<?php endif;?>
            			</td>
                	<?php endforeach; ?>
    
                </tr>
                <?php endforeach; ?>
            <?php endif;?>
        </body>
        <tfoot>
            <tr>
                <td colspan="8" class="list-pagination nolink">
                    <div class="control-pagination">
						<?php if($page -1 > -1):?>
                        	<a href="javascript:void(0)"
                            	data-apprequest="onPaginate"
                    			data-apprequest-data="listName:'<?=$listName?>',page:<?= $page - 1?>"
                    			class="page-back"
                    			title="Previous page"></a>&nbsp;
            			<?php endif;?>

                        <span class="page-iteration"><?= $start ?>-<?= $to ?> of <?= $totalCount ?></span>

            			<?php if($to < $totalCount): ?>
                        	<a href="javascript:void(0)"
                            	data-apprequest="onPaginate"
                    			data-apprequest-data="listName:'<?=$listName?>',page:<?= $page + 1?>"
                            	class="page-next"
                            	title="Next page"></a>
                    	<?php endif;?>
                    	<?php
                    	       if(($to < $totalCount)||($page -1 > -1)):  ?>
                                <select class="form-control custom-select"
                                	id="<?=$this->getId('jump-to-page')?>">
                                	<?php for($c=0;$c < ceil($totalCount / $limitPerPage);$c++):?>
                                    	<option
                                    	   <?php if($c==$page):?>
                                    	   		selected="selected"
                                	   		<?php endif;?>
                            	   			value="<?= $c ?>">
                            	   				Page <?= $c+1 ?>
                        	   				</option>
                                    <?php endfor;?>
                                </select>
                                <a class="btn btn-success" style="color:white;"
                                		data-apprequest="onPaginate"
                    					data-apprequest-data="listName:'<?=$listName?>',page:$('#<?=$this->getId('jump-to-page')?> option:selected').val()">Jump</a>

                    	<?php endif;?>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>